div.card {
    background-color: #376600;
}

span.player-number { 
    color: white;
    display: block;
    font-size: 150%;
}

span.winner {
    color: gold;
    display: block;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 8px;
    visibility: hidden;
}

span.winner.shown {
    visibility: visible;
}

span.value-title {
    color: white;
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-top: 5px;
}

span.value-description {
    color: white;
    display: block;
    font-size: 90%;
    margin-top: 2px;
}